In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
cc = pd.read_csv('cleaned_credit_card.csv')
app = pd.read_csv('app_record_ml.csv')

In [3]:
cc.columns

Index(['ID', '0', '1', '2', '3', '4', '5', 'X', 'C'], dtype='object')

In [4]:
app.columns

Index(['Unnamed: 0', 'ID', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'DAYS_BIRTH',
       'DAYS_EMPLOYED', 'FLAG_MOBIL', 'FLAG_WORK_PHONE', 'FLAG_PHONE',
       'FLAG_EMAIL', 'CNT_FAM_MEMBERS', 'CODE_GENDER_F', 'CODE_GENDER_M',
       'FLAG_OWN_CAR_N', 'FLAG_OWN_CAR_Y', 'FLAG_OWN_REALTY_N',
       'FLAG_OWN_REALTY_Y', 'NAME_INCOME_TYPE_Commercial associate',
       'NAME_INCOME_TYPE_Pensioner', 'NAME_INCOME_TYPE_State servant',
       'NAME_INCOME_TYPE_Student', 'NAME_INCOME_TYPE_Working',
       'NAME_EDUCATION_TYPE_Academic degree',
       'NAME_EDUCATION_TYPE_Higher education',
       'NAME_EDUCATION_TYPE_Incomplete higher',
       'NAME_EDUCATION_TYPE_Lower secondary',
       'NAME_EDUCATION_TYPE_Secondary / secondary special',
       'NAME_FAMILY_STATUS_Civil marriage', 'NAME_FAMILY_STATUS_Married',
       'NAME_FAMILY_STATUS_Separated',
       'NAME_FAMILY_STATUS_Single / not married', 'NAME_FAMILY_STATUS_Widow',
       'NAME_HOUSING_TYPE_Co-op apartment',
       'NAME_HOUSING_TYPE_House / apartment',
       'NAME_HOUSING_TYPE_Municipal apartment',
       'NAME_HOUSING_TYPE_Office apartment',
       'NAME_HOUSING_TYPE_Rented apartment', 'NAME_HOUSING_TYPE_With parents',
       'OCCUPATION_TYPE_Accountants', 'OCCUPATION_TYPE_Cleaning staff',
       'OCCUPATION_TYPE_Cooking staff', 'OCCUPATION_TYPE_Core staff',
       'OCCUPATION_TYPE_Drivers', 'OCCUPATION_TYPE_HR staff',
       'OCCUPATION_TYPE_High skill tech staff', 'OCCUPATION_TYPE_IT staff',
       'OCCUPATION_TYPE_Laborers', 'OCCUPATION_TYPE_Low-skill Laborers',
       'OCCUPATION_TYPE_Managers', 'OCCUPATION_TYPE_Medicine staff',
       'OCCUPATION_TYPE_Private service staff',
       'OCCUPATION_TYPE_Realty agents', 'OCCUPATION_TYPE_Sales staff',
       'OCCUPATION_TYPE_Secretaries', 'OCCUPATION_TYPE_Security staff',
       'OCCUPATION_TYPE_Waiters/barmen staff'],
      dtype='object')

In [5]:
df = pd.merge(cc, app, on='ID')
del df['Unnamed: 0']

In [6]:
df

,ID,0,1,2,3,4,5,X,C,CNT_CHILDREN,...,OCCUPATION_TYPE_Laborers,OCCUPATION_TYPE_Low-skill Laborers,OCCUPATION_TYPE_Managers,OCCUPATION_TYPE_Medicine staff,OCCUPATION_TYPE_Private service staff,OCCUPATION_TYPE_Realty agents,OCCUPATION_TYPE_Sales staff,OCCUPATION_TYPE_Secretaries,OCCUPATION_TYPE_Security staff,OCCUPATION_TYPE_Waiters/barmen staff
0,5143259,60.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
1,5145767,60.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
2,5024524,60.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1,...,0,0,1,0,0,0,0,0,0,0
3,5048073,59.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
4,5118017,59.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36452,5023451,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,...,0,0,0,0,0,0,1,0,0,0
36453,5089835,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,...,0,0,0,0,0,0,0,0,0,0
36454,5089750,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1,...,1,0,0,0,0,0,0,0,0,0
36455,5010290,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,...,0,0,0,0,0,0,0,0,0,0
36456,5114615,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
del df['ID']
df.columns

Index(['0', '1', '2', '3', '4', '5', 'X', 'C', 'CNT_CHILDREN',
       'AMT_INCOME_TOTAL', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'FLAG_MOBIL',
       'FLAG_WORK_PHONE', 'FLAG_PHONE', 'FLAG_EMAIL', 'CNT_FAM_MEMBERS',
       'CODE_GENDER_F', 'CODE_GENDER_M', 'FLAG_OWN_CAR_N', 'FLAG_OWN_CAR_Y',
       'FLAG_OWN_REALTY_N', 'FLAG_OWN_REALTY_Y',
       'NAME_INCOME_TYPE_Commercial associate', 'NAME_INCOME_TYPE_Pensioner',
       'NAME_INCOME_TYPE_State servant', 'NAME_INCOME_TYPE_Student',
       'NAME_INCOME_TYPE_Working', 'NAME_EDUCATION_TYPE_Academic degree',
       'NAME_EDUCATION_TYPE_Higher education',
       'NAME_EDUCATION_TYPE_Incomplete higher',
       'NAME_EDUCATION_TYPE_Lower secondary',
       'NAME_EDUCATION_TYPE_Secondary / secondary special',
       'NAME_FAMILY_STATUS_Civil marriage', 'NAME_FAMILY_STATUS_Married',
       'NAME_FAMILY_STATUS_Separated',
       'NAME_FAMILY_STATUS_Single / not married', 'NAME_FAMILY_STATUS_Widow',
       'NAME_HOUSING_TYPE_Co-op apartment',
       'NAME_HOUSING_TYPE_House / apartment',
       'NAME_HOUSING_TYPE_Municipal apartment',
       'NAME_HOUSING_TYPE_Office apartment',
       'NAME_HOUSING_TYPE_Rented apartment', 'NAME_HOUSING_TYPE_With parents',
       'OCCUPATION_TYPE_Accountants', 'OCCUPATION_TYPE_Cleaning staff',
       'OCCUPATION_TYPE_Cooking staff', 'OCCUPATION_TYPE_Core staff',
       'OCCUPATION_TYPE_Drivers', 'OCCUPATION_TYPE_HR staff',
       'OCCUPATION_TYPE_High skill tech staff', 'OCCUPATION_TYPE_IT staff',
       'OCCUPATION_TYPE_Laborers', 'OCCUPATION_TYPE_Low-skill Laborers',
       'OCCUPATION_TYPE_Managers', 'OCCUPATION_TYPE_Medicine staff',
       'OCCUPATION_TYPE_Private service staff',
       'OCCUPATION_TYPE_Realty agents', 'OCCUPATION_TYPE_Sales staff',
       'OCCUPATION_TYPE_Secretaries', 'OCCUPATION_TYPE_Security staff',
       'OCCUPATION_TYPE_Waiters/barmen staff'],
      dtype='object')

In [8]:
df = df.dropna()

In [9]:
df

,0,1,2,3,4,5,X,C,CNT_CHILDREN,AMT_INCOME_TOTAL,...,OCCUPATION_TYPE_Laborers,OCCUPATION_TYPE_Low-skill Laborers,OCCUPATION_TYPE_Managers,OCCUPATION_TYPE_Medicine staff,OCCUPATION_TYPE_Private service staff,OCCUPATION_TYPE_Realty agents,OCCUPATION_TYPE_Sales staff,OCCUPATION_TYPE_Secretaries,OCCUPATION_TYPE_Security staff,OCCUPATION_TYPE_Waiters/barmen staff
0,60.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,157500.0,...,0,0,0,0,0,0,0,0,0,0
1,60.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,135000.0,...,0,0,0,0,0,0,0,0,0,0
2,60.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1,157500.0,...,0,0,1,0,0,0,0,0,0,0
3,59.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0,225000.0,...,0,0,0,0,0,0,0,0,0,0
4,59.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,225000.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36452,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,180000.0,...,0,0,0,0,0,0,1,0,0,0
36453,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,225000.0,...,0,0,0,0,0,0,0,0,0,0
36454,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1,99000.0,...,1,0,0,0,0,0,0,0,0,0
36455,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,126000.0,...,0,0,0,0,0,0,0,0,0,0
36456,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,126000.0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
X = df.drop(['0', '1', '2', '3', '4', '5', 'X', 'C'], axis=1)
y = df[['0', '1', '2', '3', '4', '5', 'X', 'C']]

In [11]:
X

,CNT_CHILDREN,AMT_INCOME_TOTAL,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,CODE_GENDER_F,...,OCCUPATION_TYPE_Laborers,OCCUPATION_TYPE_Low-skill Laborers,OCCUPATION_TYPE_Managers,OCCUPATION_TYPE_Medicine staff,OCCUPATION_TYPE_Private service staff,OCCUPATION_TYPE_Realty agents,OCCUPATION_TYPE_Sales staff,OCCUPATION_TYPE_Secretaries,OCCUPATION_TYPE_Security staff,OCCUPATION_TYPE_Waiters/barmen staff
0,0,157500.0,-20578,365243,1,0,1,0,2.0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,135000.0,-15468,-4834,1,0,0,1,2.0,1,...,0,0,0,0,0,0,0,0,0,0
2,1,157500.0,-14785,-4872,1,0,0,0,3.0,1,...,0,0,1,0,0,0,0,0,0,0
3,0,225000.0,-21450,-13245,1,0,0,0,1.0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,225000.0,-12769,-4114,1,1,1,0,2.0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36452,0,180000.0,-20560,-661,1,0,0,0,2.0,1,...,0,0,0,0,0,0,1,0,0,0
36453,0,225000.0,-22976,365243,1,0,0,0,1.0,1,...,0,0,0,0,0,0,0,0,0,0
36454,1,99000.0,-17876,-5239,1,0,0,0,2.0,0,...,1,0,0,0,0,0,0,0,0,0
36455,0,126000.0,-20387,365243,1,0,0,1,2.0,1,...,0,0,0,0,0,0,0,0,0,0
36456,0,126000.0,-19603,365243,1,0,1,1,1.0,1,...,0,0,0,0,0,0,0,0,0,0

In [12]:
y

          0    1    2    3    4    5    X    C
0      60.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
1      60.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
2      60.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
3      59.0  2.0  0.0  0.0  0.0  0.0  0.0  0.0
4      59.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
...     ...  ...  ...  ...  ...  ...  ...  ...
36452   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
36453   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
36454   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
36455   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
36456   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

[36457 rows x 8 columns]

In [13]:
#y['score'] = y['0']+ (1* y['1']) + (1*y['2'])+ (1*y['3']) + (1*y['4']) + (1*y['5'])

In [14]:
y['score'] = y['2']#/y['3']# + y['C']

<ipython-input-14-c25eb63d4b45>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y['score'] = y['2']#/y['3']# + y['C']

In [15]:
y = y.fillna(0)

In [16]:
y = y['score']

In [17]:
y

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
36452    0.0
36453    0.0
36454    0.0
36455    0.0
36456    0.0
Name: score, Length: 36457, dtype: float64

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [19]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [20]:
from sklearn.linear_model import LogisticRegression

log_classifier = LogisticRegression(random_state=0, solver='lbfgs', multi_class='ovr')

# Train the model
log_classifier.fit(X_train,y_train)

/Users/hbrasek/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=2):
ABNORMAL_TERMINATION_IN_LNSRCH.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(multi_class='ovr', random_state=0)

In [21]:
from sklearn.metrics import accuracy_score
y_pred = log_classifier.predict(X_test)
print(f" Logistic regression model accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Logistic regression model accuracy: 0.983

In [22]:
print(f"Training Data Score: {log_classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {log_classifier.score(X_test, y_test)}")

Training Data Score: 0.985224197205764
Testing Data Score: 0.9834339001645639

In [23]:
from sklearn.tree import DecisionTreeClassifier

#clf = clf.fit(X_train, y_train)
#clf.score(iris.data, iris.target)

tree = DecisionTreeClassifier(max_depth=50,
                               min_samples_split=2,
                               random_state=10)
tree.fit(X_train, y_train)
print(f"Training Data Score: {tree.score(X_train, y_train)}")
print(f"Testing Data Score: {tree.score(X_test, y_test)}")

Training Data Score: 0.9912588691390535
Testing Data Score: 0.9820076796489303

In [24]:
tree_scaled = DecisionTreeClassifier(max_depth=200,
                               min_samples_split=2,
                               random_state=10)
tree_scaled.fit(X_train_scaled, y_train)
print(f"Training Data Score: {tree_scaled.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {tree_scaled.score(X_test_scaled, y_test)}")

Training Data Score: 0.9912588691390535
Testing Data Score: 0.9820076796489303

In [25]:
#from sklearn.svm import SVC 
#s = SVC(kernel='linear')
#s.fit(X_train, y_train)
#print(f"Training Data Score: {s.score(X_train, y_train)}")
#print(f"Testing Data Score: {s.score(X_test, y_test)}")

In [26]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()

In [27]:
classifier.fit(X_train, y_train)
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.985224197205764
Testing Data Score: 0.9834339001645639

/Users/hbrasek/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [28]:
lin = LinearRegression()
lin.fit(X_train, y_train)

LinearRegression()

In [29]:
print(f"Training Data Score: {lin.score(X_train, y_train)}")
print(f"Testing Data Score: {lin.score(X_test, y_test)}")

Training Data Score: 0.029609163518784953
Testing Data Score: 0.009920293936808044

In [30]:
lins = LinearRegression()
lin.fit(X_train_scaled, y_train)

LinearRegression()

In [31]:
print(f"Training Data Score: {lin.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {lin.score(X_test_scaled, y_test)}")

Training Data Score: 0.029520980472320435
Testing Data Score: 0.009765468676421585

In [32]:
from sklearn.neural_network import MLPClassifier

NN = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(5, 2), random_state=1)
NN.fit(X_train, y_train)

/Users/hbrasek/opt/anaconda3/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:500: ConvergenceWarning: lbfgs failed to converge (status=2):
ABNORMAL_TERMINATION_IN_LNSRCH.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

MLPClassifier(alpha=1e-05, hidden_layer_sizes=(5, 2), random_state=1,
              solver='lbfgs')

In [33]:
print(f"Training Data Score: {NN.score(X_train, y_train)}")
print(f"Testing Data Score: {NN.score(X_test, y_test)}")

Training Data Score: 0.12555774998171312
Testing Data Score: 0.1272627537026879

In [34]:
from sklearn import svm

SVM = svm.LinearSVC()
SVM.fit(X_train, y_train)

/Users/hbrasek/opt/anaconda3/lib/python3.8/site-packages/sklearn/svm/_base.py:985: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "

LinearSVC()

In [35]:
print(f"Training Data Score: {SVM.score(X_train, y_train)}")
print(f"Testing Data Score: {SVM.score(X_test, y_test)}")

Training Data Score: 0.985224197205764
Testing Data Score: 0.9834339001645639

In [36]:
from sklearn.ensemble import RandomForestClassifier

RF = RandomForestClassifier(n_estimators=100, max_depth=2, random_state=0)
RF.fit(X_train, y_train)

RandomForestClassifier(max_depth=2, random_state=0)

In [37]:
print(f"Training Data Score: {RF.score(X_train, y_train)}")
print(f"Testing Data Score: {RF.score(X_test, y_test)}")

Training Data Score: 0.985224197205764
Testing Data Score: 0.9834339001645639

In [38]:
from sklearn.naive_bayes import GaussianNB

nb = GaussianNB()

nb.fit(X_train,y_train)

GaussianNB()

In [39]:
print(f"Training Data Score: {nb.score(X_train, y_train)}")
print(f"Testing Data Score: {nb.score(X_test, y_test)}")

Training Data Score: 0.9839806890498135
Testing Data Score: 0.982227098189797

In [40]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=7)
knn.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=7)

In [41]:
print(f"Training Data Score: {knn.score(X_train, y_train)}")
print(f"Testing Data Score: {knn.score(X_test, y_test)}")

Training Data Score: 0.9856265086679833
Testing Data Score: 0.9828853538123972

In [42]:
from keras.models import Sequential
from keras.layers import Dense

In [43]:
model = Sequential()
model.add(Dense(11,activation='relu',input_dim=13))
model.add(Dense(1,activation='sigmoid'))

model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])

In [44]:
#model.fit(X_train,y_train)

In [45]:
X.columns

Index(['CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
       'FLAG_MOBIL', 'FLAG_WORK_PHONE', 'FLAG_PHONE', 'FLAG_EMAIL',
       'CNT_FAM_MEMBERS', 'CODE_GENDER_F', 'CODE_GENDER_M', 'FLAG_OWN_CAR_N',
       'FLAG_OWN_CAR_Y', 'FLAG_OWN_REALTY_N', 'FLAG_OWN_REALTY_Y',
       'NAME_INCOME_TYPE_Commercial associate', 'NAME_INCOME_TYPE_Pensioner',
       'NAME_INCOME_TYPE_State servant', 'NAME_INCOME_TYPE_Student',
       'NAME_INCOME_TYPE_Working', 'NAME_EDUCATION_TYPE_Academic degree',
       'NAME_EDUCATION_TYPE_Higher education',
       'NAME_EDUCATION_TYPE_Incomplete higher',
       'NAME_EDUCATION_TYPE_Lower secondary',
       'NAME_EDUCATION_TYPE_Secondary / secondary special',
       'NAME_FAMILY_STATUS_Civil marriage', 'NAME_FAMILY_STATUS_Married',
       'NAME_FAMILY_STATUS_Separated',
       'NAME_FAMILY_STATUS_Single / not married', 'NAME_FAMILY_STATUS_Widow',
       'NAME_HOUSING_TYPE_Co-op apartment',
       'NAME_HOUSING_TYPE_House / apartment',
       'NAME_HOUSING_TYPE_Municipal apartment',
       'NAME_HOUSING_TYPE_Office apartment',
       'NAME_HOUSING_TYPE_Rented apartment', 'NAME_HOUSING_TYPE_With parents',
       'OCCUPATION_TYPE_Accountants', 'OCCUPATION_TYPE_Cleaning staff',
       'OCCUPATION_TYPE_Cooking staff', 'OCCUPATION_TYPE_Core staff',
       'OCCUPATION_TYPE_Drivers', 'OCCUPATION_TYPE_HR staff',
       'OCCUPATION_TYPE_High skill tech staff', 'OCCUPATION_TYPE_IT staff',
       'OCCUPATION_TYPE_Laborers', 'OCCUPATION_TYPE_Low-skill Laborers',
       'OCCUPATION_TYPE_Managers', 'OCCUPATION_TYPE_Medicine staff',
       'OCCUPATION_TYPE_Private service staff',
       'OCCUPATION_TYPE_Realty agents', 'OCCUPATION_TYPE_Sales staff',
       'OCCUPATION_TYPE_Secretaries', 'OCCUPATION_TYPE_Security staff',
       'OCCUPATION_TYPE_Waiters/barmen staff'],
      dtype='object')

In [83]:
sample = X.iloc[15315,:].tolist()

In [84]:
print(sample)

[0.0, 256500.0, -11210.0, -1724.0, 1.0, 1.0, 0.0, 0.0, 2.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]

In [85]:
knn.predict([sample])

array([0.])

In [86]:
nb.predict([sample])

array([0.])

In [87]:
RF.predict([sample])

array([0.])

In [88]:
SVM.predict([sample])

array([0.])

In [89]:
classifier.predict([sample])

array([0.])

In [90]:
tree.predict([sample])

array([8.])

In [57]:
threes = df.loc[df["2"] > 2, :]

In [58]:
threes

,0,1,2,3,4,5,X,C,CNT_CHILDREN,AMT_INCOME_TOTAL,...,OCCUPATION_TYPE_Laborers,OCCUPATION_TYPE_Low-skill Laborers,OCCUPATION_TYPE_Managers,OCCUPATION_TYPE_Medicine staff,OCCUPATION_TYPE_Private service staff,OCCUPATION_TYPE_Realty agents,OCCUPATION_TYPE_Sales staff,OCCUPATION_TYPE_Secretaries,OCCUPATION_TYPE_Security staff,OCCUPATION_TYPE_Waiters/barmen staff
51,51.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0,1,90000.0,...,0,0,0,0,0,0,0,0,0,0
73,49.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0,1,90000.0,...,0,0,0,0,0,0,0,0,0,0
134,44.0,2.0,4.0,4.0,1.0,0.0,0.0,0.0,0,90000.0,...,0,0,0,0,0,0,0,0,0,0
301,38.0,1.0,4.0,3.0,1.0,0.0,0.0,0.0,0,90000.0,...,0,0,0,0,0,0,0,0,0,0
1511,25.0,2.0,4.0,2.0,1.0,0.0,2.0,11.0,0,256500.0,...,0,0,0,0,0,0,0,0,0,0
1514,25.0,2.0,4.0,2.0,1.0,0.0,2.0,25.0,0,256500.0,...,0,0,0,0,0,0,0,0,0,0
2050,22.0,6.0,3.0,2.0,0.0,0.0,3.0,12.0,0,225000.0,...,0,0,0,0,0,0,0,0,0,0
2177,22.0,6.0,3.0,2.0,0.0,0.0,3.0,12.0,0,225000.0,...,0,0,0,0,0,0,0,0,0,0
2432,21.0,2.0,4.0,0.0,0.0,0.0,1.0,0.0,0,121500.0,...,0,0,0,0,0,0,0,0,0,0
3766,17.0,12.0,4.0,1.0,0.0,0.0,1.0,21.0,1,202500.0,...,0,0,0,0,0,0,0,0,0,0
4735,15.0,8.0,3.0,1.0,1.0,6.0,0.0,0.0,1,405000.0,...,0,0,1,0,0,0,0,0,0,0
5104,15.0,0.0,3.0,2.0,0.0,4.0,0.0,5.0,0,162000.0,...,0,0,0,0,0,0,0,0,0,0
5178,14.0,5.0,4.0,0.0,0.0,0.0,0.0,26.0,1,108000.0,...,0,0,0,0,0,0,1,0,0,0
5341,14.0,9.0,4.0,1.0,0.0,0.0,0.0,0.0,0,225000.0,...,0,0,0,0,0,0,0,0,0,0
8976,11.0,6.0,3.0,0.0,0.0,0.0,5.0,0.0,1,112500.0,...,0,0,0,0,0,0,1,0,0,0
9081,11.0,4.0,5.0,1.0,1.0,2.0,0.0,14.0,0,135000.0,...,0,0,0,0,0,0,0,0,0,0
11056,10.0,1.0,3.0,0.0,1.0,0.0,23.0,22.0,0,171000.0,...,1,0,0,0,0,0,0,0,0,0
12819,9.0,8.0,3.0,2.0,0.0,0.0,0.0,22.0,0,90000.0,...,0,0,0,0,0,0,0,0,0,0
12848,9.0,8.0,3.0,2.0,0.0,0.0,0.0,22.0,0,90000.0,...,0,0,0,0,0,0,0,0,0,0
12853,9.0,8.0,3.0,2.0,0.0,0.0,0.0,22.0,0,90000.0,...,0,0,0,0,0,0,0,0,0,0
13207,8.0,15.0,4.0,0.0,2.0,5.0,5.0,20.0,0,76500.0,...,0,0,0,0,0,0,0,0,0,0
13650,8.0,2.0,4.0,0.0,0.0,0.0,0.0,42.0,3,135000.0,...,0,0,0,0,0,0,1,0,0,0
15315,7.0,13.0,8.0,0.0,0.0,0.0,0.0,0.0,0,256500.0,...,0,0,0,0,0,0,0,0,0,0
16163,7.0,8.0,3.0,1.0,1.0,0.0,1.0,1.0,0,225000.0,...,0,0,0,0,0,0,0,0,0,0
17364,6.0,1.0,3.0,1.0,1.0,3.0,0.0,0.0,0,211500.0,...,0,0,0,0,0,0,0,0,0,0
17904,6.0,0.0,5.0,0.0,0.0,0.0,0.0,18.0,0,427500.0,...,0,0,1,0,0,0,0,0,0,0
17965,6.0,8.0,3.0,0.0,0.0,0.0,0.0,0.0,1,135000.0,...,0,0,1,0,0,0,0,0,0,0
20197,5.0,6.0,6.0,0.0,7.0,0.0,8.0,5.0,1,180000.0,...,0,0,0,0,0,0,0,0,0,0
20897,5.0,13.0,5.0,1.0,0.0,0.0,24.0,0.0,3,90000.0,...,0,0,0,0,0,0,0,0,0,0
21286,5.0,5.0,8.0,1.0,0.0,0.0,1.0,0.0,1,112500.0,...,1,0,0,0,0,0,0,0,0,0
22909,4.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0,211500.0,...,0,0,0,0,0,0,0,0,0,0
22930,4.0,1.0,3.0,2.0,2.0,13.0,0.0,12.0,0,315000.0,...,0,0,0,0,0,0,0,0,0,0
22932,4.0,1.0,3.0,2.0,2.0,13.0,0.0,12.0,0,315000.0,...,0,0,0,0,0,0,0,0,0,0
22933,4.0,1.0,3.0,2.0,2.0,13.0,0.0,5.0,0,315000.0,...,0,0,0,0,0,0,0,0,0,0
22934,4.0,1.0,3.0,2.0,2.0,4.0,0.0,0.0,0,315000.0,...,0,0,0,0,0,0,0,0,0,0
22935,4.0,1.0,3.0,2.0,2.0,13.0,0.0,31.0,0,315000.0,...,0,0,0,0,0,0,0,0,0,0
22938,4.0,1.0,3.0,2.0,2.0,8.0,0.0,0.0,0,315000.0,...,0,0,0,0,0,0,0,0,0,0
23654,4.0,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0,103500.0,...,0,0,0,0,0,0,0,0,0,0
23655,4.0,4.0,3.0,1.0,2.0,5.0,0.0,0.0,0,103500.0,...,0,0,0,0,0,0,0,0,0,0
23656,4.0,4.0,3.0,1.0,2.0,1.0,0.0,0.0,0,103500.0,...,0,0,0,0,0,0,0,0,0,0
24340,4.0,2.0,4.0,1.0,0.0,0.0,0.0,0.0,2,67500.0,...,0,0,0,0,0,0,1,0,0,0
26000,3.0,3.0,3.0,0.0,0.0,0.0,51.0,0.0,2,315000.0,...,1,0,0,0,0,0,0,0,0,0
26822,3.0,5.0,3.0,0.0,0.0,0.0,0.0,0.0,1,135000.0,...,0,0,1,0,0,0,0,0,0,0
26849,3.0,0.0,4.0,0.0,0.0,0.0,13.0,22.0,2,337500.0,...,0,0,0,0,0,0,0,0,0,0
27370,3.0,6.0,3.0,0.0,0.0,0.0,0.0,27.0,0,112500.0,...,0,0,0,0,0,0,0,0,0,0
27898,2.0,0.0,3.0,0.0,0.0,0.0,1.0,39.0,1,180000.0,...,1,0,0,0,0,0,0,0,0,0
28005,2.0,0.0,3.0,0.0,0.0,0.0,1.0,46.0,1,180000.0,...,1,0,0,0,0,0,0,0,0,0
28586,2.0,1.0,3.0,0.0,0.0,0.0,12.0,23.0,0,112500.0,...,0,1,0,0,0,0,0,0,0,0
29204,2.0,16.0,3.0,1.0,1.0,14.0,0.0,0.0,0,157500.0,...,1,0,0,0,0,0,0,0,0,0
29342,2.0,4.0,3.0,1.0,0.0,0.0,1.0,0.0,1,135000.0,...,0,0,0,0,0,0,0,0,0,0
29677,2.0,5.0,3.0,0.0,0.0,0.0,0.0,18.0,0,135000.0,...,0,0,0,0,0,0,0,0,0,0
30061,1.0,2.0,6.0,2.0,0.0,0.0,0.0,8.0,0,90000.0,...,0,0,0,0,0,0,0,0,0,0
30245,1.0,1.0,3.0,0.0,0.0,0.0,16.0,24.0,0,270000.0,...,0,0,1,0,0,0,0,0,0,0
31469,1.0,5.0,3.0,0.0,0.0,0.0,1.0,36.0,0,81000.0,...,0,0,0,0,0,0,0,0,0,0
31963,0.0,12.0,6.0,0.0,0.0,0.0,1.0,11.0,0,157500.0,...,0,0,0,0,0,0,0,0,0,0
31967,0.0,5.0,3.0,0.0,0.0,0.0,17.0,0.0,1,270000.0,...,0,0,1,0,0,0,0,0,0,0
31992,0.0,1.0,3.0,0.0,0.0,0.0,14.0,0.0,0,90000.0,...,0,0,0,0,0,0,1,0,0,0